<div class="kottu-labs-desc-wrapper clearfix">
  <div class="container">
    <p>If there's one thing that every Sri Lankan would agree on, its that a yummy plate of</p>
    <h2>Kottu can uplift your mood any day!</h2>
    <p class="descTwo">With KottuLabs, you can create your  own plate of kottu by selecting your choice of carb, dressing and protein.</p>
    <p class="descTwo">You can also choose from our Kottu set menus, if being a chef is not your thing.  Any meal you order from KottuLabs will be delivered to your doorstep. </p>
  </div>
  <div class="kottu-labs-desc-images">
    <div class="col-md-3"><img src="{{kImg1}}"></div>
    <div class="col-md-3"><img src="{{kImg3}}"></div>
    <div class="col-md-3"><img src="{{kImg2}}"></div>
    <div class="col-md-3"><img src="{{kImg4}}"></div>
  </div>
</div>
