<div class="kottu-labs-Banner-wrapper clearfix">
  <div class="container" style="text-align: center;">
      <div class="kottu-labs-signature-kottu">
        <a routerLink="/SignatureKottu">
          <img src="{{sigKottu}}"/><br>
          <h3>ORDER A SIGNATURE KOTTU</h3>
        </a>
      </div>
      <div class="kottu-labs-own-kottu">
        <a routerLink="/CustomKottu">
          <img src="{{ownKottu}}"/><br>
          <h3>CREATE YOUR OWN KOTTU</h3>
        </a>
      </div>
  </div>
</div>
