<div class="kottu-labs-desc-wrapper clearfix">
  <div class="container">
    <div class="kottu-labs-signature-menu-info">
      <p>Large Kottu : Serves 200 g</p>
      <p>Medium Kottu : Serves 300g</p>
      <p>Small Kottu : Serves 200g</p>
    </div>
    <div class="kottu-labs-signature-menu-wrapper row">
      <div class="col-md-3" *ngFor="let menu of menus; let i = index">
        <div class="kottu-labs-signature-menu-item">
          <img src="{{kImg1}}"/>
          <h3>{{menu.setmenu.name}}</h3>
          <div class="kottu-labs-signature-menu-ingredients-title clearfix">
            Includes these ingredients
          </div>
          <div class="row">
            <div class="col-sm-6" *ngFor="let ingredient of menu.ingredients">
              <p class="kottu-labs-signature-menu-ingredients">{{ingredient.name}}</p>
            </div>
          </div>
          <div class="kottu-labs-signature-menu-total clearfix">
            Total - Rs.{{convertToTotal(menu.setmenu.price, this[i])}}/=
          </div>
          <div class="kottu-labs-signature-menu-inputs clearfix">
            <div class="row">
              <div class="col-lg-5">
                <label>Quantity</label>
              </div>
              <div class="col-lg-7">
                <select>
                  <option>Small</option>
                  <option>Medium</option>
                  <option>Large</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <label>Nos</label>
              </div>
              <div class="col-lg-7">
                <input name="input{{i}}" value="1" type="number" min="0" max="999" [(ngModel)]="this[i]"/>
              </div>
            </div>
          </div>
          <button type="button" class="kottu-labs-signature-menu-btn" [disabled]="this[i] <= 0 || this[i] === ''|| this[i] === undefined">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
