//Preffix
$preffix:".kottu-labs";
$img-path:"../images/";

//Heights
$header-height:90;
$header-zIndex:10;

// -- backgrounds

// -- button backgrounds

// -- shadow colors

// -- borders

// -- font colors
$default-color:#000;
$primary-color:#fff;
$coporate-color:#c52412;
$location-info:#8B0000;
$icons-color:#ccc;

$quantity: #c42512;

$menu-bg:#242323;


